# Supabase Configuration
VITE_SUPABASE_URL=https://lkmljiioynnbjhymvkuu.supabase.co/rest/v1/
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxrbWxqaWlveW5uYmpoeW12a3V1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyOTk1NjYsImV4cCI6MjA5Mjg3NTU2Nn0.amK6E1nYxnYlTddpHP5iY7MuX_t6mhZAiGkdhUSG7ns
-anon-key

# FastAPI Backend URL
VITE_API_URL=http://localhost:8000
